body {
    display: flex;
    justify-content: center;
    line-height: 23px;
    font-size: 98%;
}

* {
    transition: all 0.1s ease-out;
}

body,
p,
h1,
h2,
h3,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: initial;
}

h1,
h2 {
    font-weight: bold;
}

h1 {
    line-height: 30px;
    font-size: 28px;
}

h2 {
    text-transform: uppercase;
    font-size: 13px;
    color: rgb(32, 121, 199);
    font-family: Arial, Helvetica, sans-serif;
}

small {
    line-height: 20px;
}

#page {
    max-width: 760px;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-bottom: 40px;
}

aside,
main {
    display: flex;
    flex-direction: column;
    padding: 27px;
}

aside > *:not(:last-child),
main > *:not(:last-child) {
    margin-bottom: 27px;
}

aside {
    text-align: right;
}

main {
    padding-left: 0;
}

h3 + p:not(:last-child) {
    margin-bottom: 8px;
    text-transform: uppercase;
    font-size: 13px;
}

.job ul {
    list-style: disc;
    margin-left: 20px;
}

ul.pills {
    display: flex;
    flex-flow: wrap;
    justify-content: flex-end;
}

ul.pills li {
    background-color: rgb(32, 121, 199);
    color: white;
    border-radius: 5px;
    padding: 0px 6px;
    margin: 0px 4px 4px 0px;
    font-size: 14px;
    font-weight: bold;
}

img {
    object-fit: cover;
    height: 140px;
    width: 60%;
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {
    aside,
    main {
        padding: 15px;
    }
    main {
        padding-left: 0;
    }
    aside {
        font-size: 90%;
        text-align: center;
    }
    ul.pills {
        justify-content: center;
    }
    .sm-hide {
        display: none;
    }
    img {
        width: 100%;
    }
    a,
    a:visited {
        color: blue;
    }
}
@media only screen and (min-width: 600px) {
    .md-hide {
        display: none;
    }
    a,
    a:visited {
        text-decoration: none;
        color: initial;
    }
}

#menu {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: grid;
    gap: 10px;
}

#menu img {
    padding: 10px;
    width: 20px;
    object-fit: contain;
    height: auto;
    border-radius: 100%;
}

@media print {
    #menu {
        display: none !important;
    }
    #page {
        margin-bottom: 0px !important;
    }
    aside,
    main {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
    .md-hide {
        display: none;
    }
}
